[include]
  path = ~/.gitconfig-local
[core]
  pager = delta
	editor = nvim
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	program = gpg
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  line-numbers = true
  diff-so-fancy = false
  theme = OneHalfDark
[diff]
  colorMoved = default
[merge]
	tool = kdiff3
  conflictstyle = diff3
